<h1>Trip Statistics:</h1>

<p>Total Distance Travelled: {{distance}} kilometers</p>
<p>Litres of Fuel Used: {{fuel}}</p>
<p>Fuel Price: {{fuelPrice}} dollars</p>
<p>Total Price: {{totalPrice}} dollars</p>
<p>Number of Stops: {{restaurants.length}}</p>


<h1>Restaurants Visited:</h1>
<ul>
    {{#if restaurants}}
        {{#each restaurants}}
        <li>{{this}}</li>
        {{/each}}
    {{else}}
        <p>No Restaurants Selected</p>
    {{/if}}
</ul>