<h1>Trip Statistics:</h1>

<p>Total Distance Travelled: {{distance}} kilometer(s)</p>
<p>Litres of Fuel Used: {{fuel}}</p>
<p>Fuel Price: ${{fuelPrice}}.00</p>
<p>Total Price: ${{totalPrice}}</p>
<p>Number of Stops: {{restaurantsTotal}}</p>


<p>Average Price per Stop:
    {{#if restaurantsTotal}}
    ${{averageStopPrice}}</p>
{{else}}
No Stops Were Entered</p>
{{/if}}




<h1>Restaurants Visited:</h1>

{{#if restaurants}}
<ul>
    {{#each restaurants}}
    <li>{{this}}</li>
    {{/each}}
</ul>
{{else}}
<p>No Restaurants Were Entered</p>
{{/if}}