<script src="./js/client.js"></script>

<div class="container">

  <div class="section">
    <h1>All Pokemon</h1>

    <p>The below are a list of the original 151 pokemon - to add other pokemon please enter the pokemon's dex number here:</p>
    <form method="GET" action="./dexSearch">
      <input type="number" name="newPokemonDex">
      <button type="submit">Submit</button>
    </form>
    <p><em>Note - a full list of all pokemon and their dex numbers can be accessed <a
          href="https://bulbapedia.bulbagarden.net/wiki/List_of_Pokémon_by_National_Pokédex_number">here</a></em></p>

    <div class="sprite-container">
      {{! TODO Display list of Pokemon here. }}
      {{#each pokemon}}
      <button class="buttons" id="{{this.dexNumber}}">
        <img src="{{this.smallImageUrl}}">
        <span>{{this.name}}</span>
      </button>
      {{/each}}
    </div>
  </div>

  <div class="section">
    <div class="details" id="detailsContainer">
      <h1>Details</h1>
      {{! TODO Display info about a single Pokemon here. }}
      <img src="{{openingPokemonImage}}">
      <h1>#{{openingPokemonNumber}} {{openingPokemonName}}</h1>
      <p><strong>Types:</strong> {{openingPokemonTypes}}</p>
      <p><strong>About {{openingPokemonName}}:</strong> {{openingPokemonAbout}}</p>
    </div>
  </div>

</div>