<script src="./js/client.js"></script>

<div class="container">

  <div class="section">
    <h1>All Pokemon</h1>
    <input>
    <button>Add Your Own from the Pokemon API</button>
    <div class="sprite-container">
      {{! TODO Display list of Pokemon here. }}
      {{#each pokemon}}
      <button class="buttons" id="{{this.dexNumber}}">
        <img src="{{this.smallImageUrl}}">
        <span>{{this.name}}</span>
      </button>
      {{/each}}
    </div>
  </div>

  <div class="section">
    <div class="details" id="detailsContainer">
      <h1>Details</h1>
      {{! TODO Display info about a single Pokemon here. }}
      <img src="{{openingPokemonImage}}">
      <h1>#{{openingPokemonNumber}} {{openingPokemonName}}</h1>
      <p><strong>Types:</strong> {{openingPokemonTypes}}</p>
      <p><strong>About {{openingPokemonName}}:</strong> {{openingPokemonAbout}}</p>
    </div>
  </div>

</div>